[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded.git
[submodule "openembedded-core"]
	path = openembedded-core
	url = git://git.openembedded.org/openembedded-core
[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
[submodule "meta-sunxi"]
	path = meta-sunxi
	url = https://github.com/linux-sunxi/meta-sunxi.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = kirkstone
