[Unit]
Description=Sensor Daemon for Openvario Sensorboard

[Service]
ExecStart=/opt/bin/sensord -f -c /opt/conf/sensord.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
