[Unit]
Description=Start psplash boot splash screen
DefaultDependencies=no
RequiresMountsFor=/run
RequiresMountsFor=/boot

[Service]
Type=notify
ExecStart=/opt/bin/psplash-rotation
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
