CONFIG_DEFAULT_HOSTNAME="openvario"
# CONFIG_LOCALVERSION_AUTO is not set
# CONFIG_SYSVIPC is not set
# CONFIG_POSIX_MQUEUE is not set
# CONFIG_BSD_PROCESS_ACCT is not set
# CONFIG_TASKSTATS is not set
# CONFIG_IKCONFIG is not set
# CONFIG_CGROUP_SCHED is not set
# CONFIG_SCHED_AUTOGROUP is not set
# CONFIG_BPF_SYSCALL is not set
CONFIG_CMDLINE=" loglevel=3"
CONFIG_CMDLINE_FROM_BOOTLOADER=y
# CONFIG_KERNEL_MODE_NEON is not set
# CONFIG_SECCOMP is not set
# CONFIG_BLK_DEV_BSGLIB is not set
# CONFIG_BLK_DEV_INTEGRITY is not set
# CONFIG_PARTITION_ADVANCED is not set
# CONFIG_BPF_JIT is not set
CONFIG_UEVENT_HELPER=y
# CONFIG_CONNECTOR is not set
# CONFIG_EEPROM_93CX6 is not set
# CONFIG_CHR_DEV_SG is not set

CONFIG_INPUT_EVDEV=y
# CONFIG_INPUT_FF_MEMLESS is not set
# CONFIG_INPUT_MOUSE is not set
# CONFIG_I2C_MUX is not set
# CONFIG_SPI_SPIDEV is not set
# CONFIG_POWER_RESET is not set
# CONFIG_SSB is not set
# CONFIG_BCMA is not set
# CONFIG_MFD_WL1273_CORE is not set
CONFIG_RC_CORE=y
CONFIG_RC_MAP=y
CONFIG_RC_DEVICES=y
# CONFIG_HID_A4TECH is not set
# CONFIG_HID_APPLE is not set
# CONFIG_HID_BELKIN is not set
# CONFIG_HID_CHERRY is not set
# CONFIG_HID_CHICONY is not set
# CONFIG_HID_CYPRESS is not set
# CONFIG_HID_EZKEY is not set
# CONFIG_HID_ITE is not set
# CONFIG_HID_KENSINGTON is not set
# CONFIG_HID_LOGITECH is not set
# CONFIG_HID_REDRAGON is not set
# CONFIG_HID_MICROSOFT is not set
# CONFIG_HID_MONTEREY is not set
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_MUSB_HDRC=y
CONFIG_USB_PHY=y
CONFIG_NOP_USB_XCEIV=y
CONFIG_NEW_LEDS=y
# CONFIG_LEDS_CLASS_FLASH is not set
# CONFIG_LEDS_LM3530 is not set
# CONFIG_LEDS_LP3944 is not set
# CONFIG_LEDS_PCA955X is not set
# CONFIG_LEDS_PCA963X is not set
# CONFIG_LEDS_DAC124S085 is not set
# CONFIG_LEDS_REGULATOR is not set
# CONFIG_LEDS_BD2802 is not set
# CONFIG_LEDS_LT3593 is not set
# CONFIG_LEDS_TCA6507 is not set
# CONFIG_LEDS_LM355x is not set
# CONFIG_LEDS_BLINKM is not set
CONFIG_LEDS_TRIGGERS=y
# CONFIG_LEDS_TRIGGER_TIMER is not set
# CONFIG_LEDS_TRIGGER_ONESHOT is not set
# CONFIG_LEDS_TRIGGER_BACKLIGHT is not set
# CONFIG_LEDS_TRIGGER_CPU is not set
# CONFIG_LEDS_TRIGGER_TRANSIENT is not set
# CONFIG_LEDS_TRIGGER_CAMERA is not set
# CONFIG_SUN8I_DE2_CCU is not set
CONFIG_PM_DEVFREQ=y

CONFIG_PRINTK_TIME=y
