# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${TOPDIR}/openembedded-core/meta \
  ${TOPDIR}/meta-openembedded/meta-networking \
  ${TOPDIR}/meta-openembedded/meta-oe \
  ${TOPDIR}/meta-openembedded/meta-python \
  ${TOPDIR}/meta-arm/meta-arm \
  ${TOPDIR}/meta-arm/meta-arm-toolchain \
  ${TOPDIR}/meta-sunxi \
  ${TOPDIR}/meta-openvario \
  ${TOPDIR}/meta-raspberrypi \
  ${TOPDIR}/meta-rauc \  
"