[Unit]
Description=Variod Daemon for Openvario
Before=sensord.target
Requires=pulseaudio.service
After=pulseaudio.service

[Service]
ExecStart=/opt/bin/variod -f -c /opt/conf/variod.conf
Restart=on-abort

# enable real-time scheduling to ensure that variod meets all
# deadlines to keep the audio buffer full
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=10

[Install]
WantedBy=multi-user.target
