# Select schedutil as the default CPU governor for Raspberry Pi builds in this
# layer. These systems behave like appliances, and we do not rely on userspace
# to switch governors after boot.
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=n
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
