[Unit]
Description=touchscreen input
RequiresMountsFor=/etc/ts.env

[Service]
Type=forking
EnvironmentFile=/etc/ts.env
ExecStart=/usr/bin/ts_uinput -d
