[Unit]
Description=touchscreen input
After=dev-input-ts.device
RequiresMountsFor=/etc/ts.env

[Service]
Type=forking
EnvironmentFile=/etc/ts.env
ExecStart=/usr/bin/ts_uinput -d

[Install]
WantedBy=multi-user.target