[Unit]
Description=Variod Daemon for Openvario
Before=sensord.target
Requires=pulseaudio.service
After=pulseaudio.service

[Service]
ExecStart=/opt/bin/variod -f -c /opt/conf/variod.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
